<% provide(:title, "About") %>
<h1>このサイトについて</h1>
<div class= about-mainimg>
  <%= image_tag 'about01.jpg',:size => '1528x400' %>
  <div class= about-coverimg></div>
</div>
<div class= about_form>
  <p class= about_letter>
    このサイトはアーティストやイラストレータの方々のための作品の宣伝、閲覧を目的としたサイトです。<br>
    好みの作品やアーティストを探したり、自身の創作活動履歴として使用したりなどができたらと思い、<br>サイトを
    作成いたしました。<br>作品を通して、新たな人や新たな感性との良い出会いがあることを願っております。
  </p>
</div>