<footer class="footer">
  <!--small-->
    <!--a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  <!--/small-->
  <nav>
    <ul>
      <li class="footer_item"><%= link_to "ホーム", root_path %></li>
      <li class="footer_item"><%= link_to "FAQ", help_path %></li>
      <li class="footer_item"><%= link_to "このサイトについて", about_path %></li>
      <li class="footer_item"><%= link_to "お問い合せ", contact_path %></li> 
    </ul>
  </nav>
</footer>